.jigsaw{
  ul[dnd-list],
  ul[dnd-list] > li {
    position: relative;
  }
  height: 100vh;
}

.jumble, .solved{
  width:350px;
  margin: 1em;
}

.square{
  flex: 0 0 111px;
  height: 111px;
  border: 1px solid #aaa;
  margin: 1px;
}

.piece{
  background-image: url("../assets/images/cat.jpg");
  &__1{
    background-position: 0% 0%;
  }
  &__2{
    background-position: 50% 0%;
  }
  &__3{
    background-position: 100% 0%;
  }
  &__4{
    background-position: 0% 50%;
  }
  &__5{
    background-position: 50% 50%;
  }
  &__6{
    background-position: 100% 50%;
  }
  &__7{
    background-position: 0% 100%;
  }
  &__8{
    background-position: 50% 100%;
  }
  &__9{
    background-position: 100% 100%;
  }
  &__mystery{
    background: none;
  }
}

