.main{
	height: 100vh;

	section{
		padding: 1em;//let the animation pulse outside the bounds
	}

	&__button{
		flex: 0 0 200px;
		background: red;
		border-radius: 50%;
		width: 200px;
		&--text{
			height: 100%;
			color: white;
			font-size: 5em;
		}
	}
	&__instructions{
		margin: 2em 0;
		font-size: 3em;
	}
}
