[ng-drag].drag-over{
  border:solid 1px red;
}
[ng-drag].dragging{
  opacity: 0.5;
}
[ng-drop]{
  display: block;
  position: relative;
}
[ng-drop].drag-enter{
  border:solid 1px red;
}
[ng-drop] div{
  position: relative;
  z-index: 2;
}
