<div layout="row" layout-align="center center" class="jigsaw">
  <md-content>
    <section layout="row" layout-align="center center">
      <div class="jumble" layout="row" layout-wrap>
        <div class="square piece {{item.style}}"
             ng-drag="true"
             ng-drag-data="{item:{{item}}, comingFrom:'jumble', index: $index}"
             ng-center-anchor="true"
             ng-repeat="item in jigsaw.pieces.jumble">
        </div>
      </div>
      <h1>-></h1>
      <div class="solved" layout="row" layout-wrap>
        <div class="square piece {{item.style}}"
             ng-drag="true"
             ng-drag-data="{item:{{item}}, comingFrom:'solved', index: $index}"
             ng-center-anchor="true"
             ng-repeat="item in jigsaw.pieces.solved"
             ng-drop="true"
             ng-drop-success="onDropComplete($data,$event,$index)">
        </div>
      </div>
      <h1 ng-show="jigsaw.hasWon">Hurrah!</h1>
    </section>
  </md-content>
</div>
