<div layout="row" layout-align="center center" class="main">
  <md-content>
    <section layout="column" layout-align="center center">

      <a class="main__button animated infinite pulse" href="#jigsaw" layout="column" layout-align="center center">
        <div class="main__button--text">Play!</div>
      </a>

      <div class="main__instructions">Complete the jigsaw in the right grid</div>

    </section>
  </md-content>
</div>
